body {
    background-image: url("../assets/cool-background.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 600px;
    padding: 25px;
    border: 2px solid rgb(8, 237, 77);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.189);
}

#main {
    width: 80%;
    margin-top: 15px ;
}

.pwd-container{
    width: 100%;
    position: relative;
  }
.pwd-container input[type="password"],
.pwd-container input[type="text"] {
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
}
.fa-eye, .fa-eye-slash{
    position: absolute;
    top: 35%;
    right: 2%;
    cursor: pointer;

}